<h2>プロフィール</h2>

<div class="row">

	<h3>登録情報</h3>

<div class="col-xs-6">
	<% if user_signed_in? && @user.id == current_user.id %>
		<%= link_to edit_user_path(@user), class: "col-xs-12 btn btn-default edit_user_#{@user.id}" do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>　編集する
		<% end %>

		<%= link_to edit_user_registration_path, class: "col-xs-12 btn btn-default" do %>
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>　パスワードを変更する
		<% end %>
	<% end %>
</div>
<div class="col-xs-6">
	<table class="table">
		<tr>
			<th><%= attachment_image_tag(@user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg") %></th>
		</tr>

		<tr>
			<th>名前</th>
			<th><%= @user.name %></th>
		</tr>

	</table>
</div>


	<!-- 会員投稿聖地一覧 -->
	<div class="col-xs-4">
		<h3>投稿聖地</h3>
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<% @meccas.each do |mecca| %>
					<tr>
						<td><%= mecca.name %></td>
						<td><%= link_to "詳細", mecca_path(mecca.id) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
	</div>
	<!-- 会員投稿聖地一覧 -->

	<!-- 会員投稿映画タグ一覧 -->
	<div class="col-xs-4">
		<h3>投稿映画タグ</h3>
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<% @movie_tags.each do |movie_tag| %>
					<tr>
						<td><%= movie_tag.title %></td>
						<td><%= link_to "詳細", movie_tag, class: "movie_tag_#{movie_tag.id}" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
	</div>
	<!-- 会員投稿映画タグ一覧 -->

	<!-- 会員いいね一覧 -->
	<div class="col-xs-4">
		<h3>いいね</h3>
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<% @favorites.each do |favorite| %>
					<tr>
						<td><%= favorite.mecca.name %></td>
						<td><%= link_to "詳細", mecca_path(favorite.mecca.id) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
	</div>
	<!-- 会員いいね一覧 -->

</div>


