<div id="swiper-container">
    <div class="main-visual-content">
        <h1 class="main-visual-name">
            SeichiSearch
        </h1>
        <p class="main-visual-text">
            あなたのお勧めの映画は？<br>
            その映画の撮影地、ロケ地、聖地は知っていますか？<br>
            このサイトでは、映画聖地の教え合いができちゃいます！
        </p>
    </div>
    <div id="theTarget">
        <div style="background-image: url(<%= asset_path "pirate-667763_1920.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "universal-studios-1640516_1920.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "house-2616607_1920.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "castle-1176423_1920.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "a6bc59e3dd000f5b9d94cd717505b394_m.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "columbus-1936633_1280.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "cary-grant-392931_1920.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "cinema-1241422_1920.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "cambodia-2464699_1920.jpg" %>)"></div>
    </div>
</div>

<section class="method" style="margin-top: 100px;">
    <div class="headline">使い方</div>
    <div class="contents">
        <h3>聖地を教えたい場合</h3>
        <ol>
            <li>まずは教えたい映画のタグがあるか映画タグ一覧から検索します。</li>
            <li>タグが存在すれば手順3.へ　無ければフォームから新規登録します。</li>
            <li>聖地一覧画面にある聖地新規登録ボタンを押します。</li>
            <li>登録された映画タグを使って新規登録をします。</li>
            <li>聖地一覧にあなたの投稿が表示されます！</li>
        </ol>
        <h3>聖地を知りたい場合</h3>
        <ol>
            <li>聖地一覧画面で検索ができます。</li>
            <li>映画タグから絞り込みも可能です。</li>
            <li>画像か名前をクリックすれば詳細画面へ飛びます。</li>
            <li>住所などの詳しい情報を是非参考ください。</li>
            <li>気に入ったらいいねボタンを押しましょう！</li>
            <li>行ってみたかったり、行ってきたらコメントをしてみましょう！</li>
            <li>いいねを押した聖地はマイページから確認できます。</li>
        </ol>
    </div>
</section>

<section class="attention">
    <div class="headline">注意事項</div>
    <div class="contents">
        ご注意いただきたいことの一例として以下のとおり「注意事項」をまとめています。<br>
        よくお読みいただき参考にしてください。<br>
        <br>
        投稿は、投稿者自身の責任において行ってください。<br>
        <br>
        投稿内容に係る苦情・異議申し立て、並びに、トラブルや損失・損害があった場合は、すべて投稿者の責任において対応してください。<br>
        <br>
        人物が明確に映っている写真を投稿する場合は、事前にその方の了承を得てください。<br>
        人物が明確に写っている場合は、被写体の了解が得られているものとみなします。<br>
        <br>
        投稿にあたっては、次の事項を遵守してください。<br>
            ・他人が不快になる内容でないこと。<br>
            ・他人の著作権・著作者人格権・商標権・肖像権等の権利等を侵害するものでないこと。<br>
            ・犯罪に結びつく、または助長させるものでないこと。<br>
            ・暴言、卑猥な表現等、公序良俗に反するものでないこと。<br>
            ・他人の名誉を毀損し、または他人を誹謗中傷・批判するものでないこと。<br>
            ・事実ではないこと、憶測や噂をもとに断定・推奨する内容の投稿をしないこと。<br>
            ・商業用の広告・宣伝・勧誘等の行為をしないこと<br>
            ・法令等に反するものでないこと。<br>
        <br>
        投稿者は、上記注意事項を承諾のうえ、投稿いただいたものとみなします。<br>
        <br>
        管理者は、上記注意事項に反していると判断したときは、投稿を掲載しない、又は投稿を削除する場合があります。
    </div>
</section>

<section class="creator">
    <div class="headline">製作者・管理者</div>
    <div class="contents col-sm-6">
        お問合せはこちら<br><br>
        名前：松浦真子<br>
        好きなもの：映画、ディズニー、B'z、みかん、寝ること<br>
        <i class=" far fa-envelope"></i>　xxxx@gmail.com<br>
        <i class="fab fa-github-alt"></i>　@mkkoala[https://github.com/mkkoala]
    </div>
    <div class="creator-img col-sm-6 pull-right" style="padding-top: 20px;"><%= image_tag 'yuru_neko6.png', size: '500x300' %></div>
</section>


