	<div class="top-image" style="height: 480px; width: 480px; background-image: url(<%= asset_path "car-3249989_1920.jpg" %>);">
		<div class="top-image-fog"></div>
	</div>

	<div class="top-image" style="height: 300px; width: 300px; background-image: url(<%= asset_path "dinosaur-2435665_1920.jpg" %>); margin-top: 20px;">
		<div class="top-image-fog"></div>
	</div>

	<div class="top-image" style="height: 200px; width: 200px; background-image: url(<%= asset_path "clint-eastwood-394536_1920.jpg" %>); margin: 200px 80px 0 80px;">
		<div class="top-image-fog"></div>
	</div>


<div class="top-content">
	<h1 class="top-title" style="word-break: none;">SeichiSearch</h1>
	<p class="top-text">
        映画の聖地を検索（サーチ）したい！<br>
        おすすめの映画の聖地を教えたい！<br>
        是非是非、こちらのサイトをお試しください！！
    </p>
	<div class="btn-wrapper">
		<% if user_signed_in? %>
			<div class="row">
				<p><%=link_to "ログインはこちら", user_path(current_user), class: "btn btn-info main-btn" %></p>
			</div>
			<div class="row">
				<p><%=link_to "新規登録はこちら", user_path(current_user), class: "btn btn-success main-btn" %></p>
			</div>
		<% else %>
			<div class="row">
				<p><%=link_to "ログインはこちら", new_user_session_path, class: "btn btn-info main-btn" %></p>
			</div>
			<div class="row">
				<p><%=link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success main-btn" %></p>
			</div>
		<% end %>
	</div>
</div>


	<div class="top-image" style="background-image: url(<%= asset_path "shark-2102330_1920.jpg" %>);">
		<div class="top-image-fog"></div>
	</div>

	<div class="top-image" style="height: 480px; width: 480px; background-image: url(<%= asset_path "legoland-3481632_1920.jpg" %>); margin-top: 20px;">
		<div class="top-image-fog"></div>
	</div>

	<div class="top-image" style="background-image: url(<%= asset_path "ironman-1049412_1920.jpg" %>); margin: 20px 150px 0 0;">
		<div class="top-image-fog"></div>
	</div>

