<h2>聖地編集</h2>

<%= form_for(@mecca) do |f| %>

	<%= render 'layouts/error_messages', model: f.object %>

	<%= f.attachment_field :mecca_image %>

	<p>場所名<%= f.text_field :name %></p>

	<p>説明<%= f.text_area :body, :size=>"60x10" %></p>

	<p>映画タグ<%= f.collection_check_boxes :movie_tag_ids, MovieTag.all, :id, :title %></p>

	<p>郵便番号<%= f.text_field :post_code, :size=>"15", :placeholder=>"例:1234567", :onkeyup=>"AjaxZip3.zip2addr(this,'','addr11','addr11');", :name=>"zip11" %></p>
	<%= f.hidden_field :address %>

	<p>住所<%= f.text_field :address, :size=>"60", :placeholder=>"例:東京都港区六本木6丁目11−1", :name=>"addr11" %></p>

	<p>※画像や文章を他者から引用した場合は引用元の情報を記載してください</p>
	<%= f.submit "編集内容を保存する", :id => "submit_button" %>

<% end %>
