<h2>商品一覧</h2>
	<p style="padding-left: 20px;">
		(<% if params[:movie_tag_id] %>
			<%= @movie_tag.title %>
		<% else %>
			<nobr>ALL</nobr>
		<% end %>
		　全<%= @count %>件)
	</p>

	<% @meccas.each do |mecca| %>
		<div>

		<%= link_to mecca_path(mecca.id) do %>
			<%= attachment_image_tag mecca, :mecca_image, :fill, 200, 180, :class => "img-rounded" %>
		<% end %>

	    </p>
	    	<%= link_to mecca_path(mecca.id) do %>
	    		<%= mecca.name %>
	    	<% end %>
	    </p>

		</div>
	<% end %>
	<%= paginate @meccas, class: "paginate" %>


<!-- ここからジャンル検索リンク一覧部分 -->
<h3>映画タグ検索</h3>

<%# @movie_tags.each do |movie_tag| %>
	<%#= link_to movie_tag.title ,"/products?movie_tag_id=#{movie_tag.id}" %><br>
<%# end %>
<!-- ここまでジャンル検索リンク一覧部分 -->