<h2>新規投稿</h2>

<%= form_for(@mecca) do |f| %>

	<%= render 'layouts/error_messages', model: f.object %>

	<%= f.attachment_field :mecca_image %>

	<h4>場所名</h4>
	<%= f.text_field :name %>

	<h4>説明</h4>
	<%= f.text_area :body, :size=>"60x10" %>

	<h4>映画タグ</h4>
	<%= f.collection_check_boxes :movie_tag_ids, MovieTag.all, :id, :title %>

	<h4>郵便番号</h4>
	<%= f.text_field :post_code, :size=>"15", :placeholder=>"例:1234567", :onkeyup=>"AjaxZip3.zip2addr(this,'','mecca[address]','mecca[address]');", id: "post_code" %>

	<h4>住所</h4>
	<%= f.text_field :address, :size=>"60", :placeholder=>"例:東京都港区六本木6丁目11−1", :name=>"mecca[address]", :required=>"true" %>

	<br>
	<br>

	<p>※画像や文章を他者から引用した場合は引用元の情報を記載してください</p>
	<%= f.submit '新規投稿', :id => "submit_button", onClick: 'setAddress()' %>

<% end %>
