<div class="row">
  <div class="col-sm-6">
    <h2>映画タグ登録</h2>

    <%= form_for(@movie_tag) do |f| %>

      <%= render 'layouts/error_messages', model: f.object %>

    	<%= f.attachment_field :movie_image %>

    	<h4>タイトル</h4>
    	<%= f.text_field :title %>

    	<h4>説明</h4>
    	<%= f.text_area :body, :size=>"60x10" %>

    	<br>
    	<br>

    	<p>※画像や文章を他者から引用した場合は引用元の情報を記載してください</p>
    	<%= f.submit '新規登録', :id => "submit_button" %>

    <% end %>
  </div>


  <div class="col-sm-6">
    <h2>映画タグ一覧</h2>
    <table class='table table-responsive'>
      <thead>
        <tr>
          <th>タイトル</th>
          <th></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @movie_tags.each do |movie_tag| %>
          <tr>
            <td><%= movie_tag.title %></td>
            <td><%= link_to "詳細", movie_tag_path(movie_tag.id), class: "btn-sm btn-warning" %></td>
          </tr>
        <% end %>
        <%= paginate @movie_tags, class: "paginate" %>
      </tbody>
    </table>
  </div>
</div>

