<!DOCTYPE html>
<html>
  <head>
    <title>SeichiSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script> <!-- 郵便番号から住所を自動入力する -->
    <script src="https://kit.fontawesome.com/5ea21ceab0.js" crossorigin="anonymous"></script> <!-- アイコンを表示する -->

  </head>



  <body>

    <%= render 'layouts/header' %>

    <div class='body'>
      <div class='container'>

        <p id="notice"><%= notice %></p>

        <%= yield %>

      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
